@import "../variables";

.sidebar {
  align-items: center;
  background-color: $gradient2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: $xl2 $xl;

  .trigger {
    align-items: center;
    background-color: $gradient2;
    border: $xs solid $white;
    border-radius: $rounded;
    display: flex;
    height: $xl;
    justify-content: center;
    position: absolute;
    left: 100%;
    top: $xl;
    transform: translateX(-50%);
    width: $xl;
  }

  ul {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    li {
      &:not(:first-child) {
        margin-top: $xl;
      }

      &:hover {
        opacity: .7;
      }

      a {
        align-items: center;
        color: inherit;
        display: flex;
      }
      
      i {
        font-size: $lg;
      }

      .company-initials {
        color: $brandPrimary;
        font-weight: $thin;
        text-transform: uppercase;
      }

      .company-name {
        color: $brandPrimary;
        font-size: $lg;
        font-weight: $thin;
        text-transform: uppercase;
      }

      .resource-name {
        font-size: $lg;
        font-weight: $thin;
        margin-left: $lg;
        text-transform: uppercase;
      }
    }
  }
}