@import "variables";

.front-page {
  section {
    margin: 1rem auto;
    max-width: $max-width;

    @media (max-width: $break-md) {
      width: 90%;
    }

    &.title {
      h1 {
        border-bottom: 1px solid #000;
        display: inline-block;
        font-size: 3rem;
        font-weight: 200;
        text-transform: uppercase;
      }
    }
  }


}
