// BREAKPOINTS
$break-sm: 640px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;
$break-xxl: 1440px;
$break-xxxl: 1600px;

// COLORS
$brandPrimary: #FF2400;
$gradient1: #0f2027;
$gradient2: #203a43;
$gradient3: #2c5364;
$grey: #bdc3c7;
$grey1: #E0E0E0;
$grey2: #C6C6C6;
$selected: #91eae4;
$red: #ff416c;
$green: #11998e;
$orange: #f5af19;
$white: #fff;
$salmon: #ff9983;

// FONT WEIGHTS
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;

// UNITS
$xxs: 0.1rem;
$xs: 0.2rem;
$sm: 0.4rem;
$md: 0.6rem;
$lg: 1rem;
$lg2: 1.2rem;
$xl: 1.5rem;
$xl2: 2rem;
$xl3: 3rem;
$xl4: 5rem;
$rounded: 50%;

// PICTURES SIZES
$h-sm: 2rem;
$h-md: 10rem;
$h-lg: 30rem;
$w-sm: 4rem;
$w-md: 20rem;
$w-lg: 60rem;

// WIDTHS
$max-width: 1024px;
