@import "./actiontext";
@import "./admin-layout";
@import "./default-layout";
@import "./front-layout";
@import "./utilities";
@import "./components/admin-sidebar";
@import "./components/admin-forms";
@import "./components/contact-form";
@import "./components/header";
@import "./components/goals-grid";
@import "./components/members-grid";
@import "./components/resource-table";
@import "./components/resource-show";
@import "./pages/home";
@import "./utils/animations";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}
