@import "./actiontext";
@import "./admin-layout";
@import "./default-layout";
@import "./front-layout";
@import "./utilities";
@import "./components/admin-sidebar";
@import "./components/resource-table";

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}